.be-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.be-filter .filter-tab {
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 8px 12px;
  color: #bababa;
  font-family: "Barlow Semi Condensed";
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease 0.25s all;
}
.be-filter .filter-tab.active {
  border: 1px solid #444;
  color: #444;
  pointer-events: none;
  padding: 8px 24px;
}

.more-products {
  margin-top: 4px;
  padding-bottom: 20px;
  text-align: center;
}

.more-products > a {
  background-color: #252525;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  font-family: var(--font-secondary);
  height: 2.5rem;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  padding: 0 1.25rem;
  border: 1px solid;
  color: #fff;
  border-radius: 5px;
  border-color: transparent;
  -webkit-transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
  transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
}

.more-products > a:hover {
  color: #fff;
}

.module-carousel .be-products-ls .module-body::before {
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.module-carousel .be-products-wrapper .preloader,
.module-carousel .be-recipes-wrapper .preloader {
  top: -20px;
  display: none;
}
.module-carousel .be-products-wrapper .preloader.show,
.module-carousel .be-recipes-wrapper .preloader.show {
  display: block;
}
.module-carousel .be-slider.slick-initialized .slick-slide {
  padding: 1px 0 60px;
}
.module-carousel .be-slider.products .product {
  border-bottom: 1px solid var(--color-border-light);
  min-height: 100%;
}
.products .content-wrapper .product-title {
  min-height: 44px;
}
.module-carousel .be-slider.products .slick-current .product {
  border-left: 1px solid var(--color-border-light);
}
.be-products-ls .no-product {
  min-height: 300px;
  padding: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border-light);
}
.module-carousel .be-slider:not(.slick-slider) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 40px;
  border-left: 1px solid var(--color-border-light);
}
.be-products-ls .slider-wrapper .slick-dots {
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 20px;
}

.be-normal-carousel .head-icon {
  border-radius: 5px;
  background: #ea2b0f;
  min-height: 52px;
  min-width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.be-normal-carousel .slider-inner {
  display: block;
  margin: 15px;
}
.be-normal-carousel .slider-inner:hover img {
  transform: scale(1.05);
}
.be-normal-carousel .slider-inner:hover h3 {
  font-weight: 500;
}
.be-normal-carousel .slider-inner img {
  height: 206px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: ease 0.25s all;
}
.be-normal-carousel .slider-inner .cats,
.be-normal-carousel .slider-inner .crt-date {
  color: #bababa;
  font-family: "Barlow Semi Condensed";
  font-size: 14px;
  font-weight: 500;
  line-height: 22.95px;
  text-transform: uppercase;
  margin-top: 12px;
}
.be-normal-carousel .slider-inner h3 {
  color: #444;
  font-family: "Barlow Semi Condensed";
  font-size: 22px;
  font-weight: 400;
  line-height: 120%;
  margin-top: 8px;
}
.module-carousel.be-normal-carousel .module-body {
  margin: 0 -15px;
  width: calc(100% + 30px);
}
.module-carousel.be-normal-carousel .module-body::before {
  display: none;
}
.module-carousel.be-normal-carousel .slick-arrow {
  top: 26%;
}
.module-carousel.be-normal-carousel .slick-prev {
  left: -5px !important;
}
.module-carousel.be-normal-carousel .slick-next {
  right: -5px !important;
}

@media (max-width: 991px) {
  .be-products-ls .no-product {
    min-height: 200px;
  }
  .be-products-ls .no-product h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .module-carousel .be-slider.slick-initialized .slick-slide {
    padding: 1px 0 30px;
  }
  .be-normal-carousel .head-icon {
    min-width: 40px;
    min-height: 40px;
    margin-right: 8px;
  }
  .be-normal-carousel .head-icon svg {
    width: 24px;
  }
  .be-normal-carousel .slider-inner {
    margin: 10px;
  }
  .be-normal-carousel .be-normal-slider[data-mobile="2"] .slider-inner img {
    height: 160px;
  }
  .be-filter .filter-tab {
    padding: 8px;
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .be-normal-carousel .be-normal-slider[data-mobile="2"] .slider-inner img {
    height: 120px;
  }
  .be-normal-carousel .be-normal-slider[data-mobile="2"] .slider-inner h3 {
    font-size: 18px;
  }
}
