.post-type-archive-product .price_slider_wrapper .price_slider.ui-slider {
  height: 8px;
  border-radius: 0;
  background: #E5E9F1; }
.post-type-archive-product .price_slider_wrapper .ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 0;
  background: #F00; }
.post-type-archive-product .price_slider_wrapper .ui-slider-range {
  height: 8px;
  background: #E5E9F1; }
.post-type-archive-product .price_slider_amount {
  width: 70%; }
  .post-type-archive-product .price_slider_amount .screen-reader-text[for="max_price"] {
    position: relative !important;
    display: block;
    width: 55px;
    height: 2px;
    top: 0;
    clip-path: content-box;
    color: transparent; }
    .post-type-archive-product .price_slider_amount .screen-reader-text[for="max_price"]:before {
      content: '-';
      position: absolute;
      top: 0;
      width: 12px;
      left: 4px;
      background: #6E5F63; }
  .post-type-archive-product .price_slider_amount .button {
    display: none; }
  .post-type-archive-product .price_slider_amount .price_label {
    display: none !important; }
  .post-type-archive-product .price_slider_amount #min_price {
    display: block !important; }
  .post-type-archive-product .price_slider_amount #max_price {
    display: block !important; }
.post-type-archive-product .sidebar-inner > .widget.active-dropdown-filter {
  padding-bottom: 25px; }
  .post-type-archive-product .sidebar-inner > .widget.active-dropdown-filter .widget-title:after {
    transition: 0.3s;
    transform: rotate(90deg); }
.post-type-archive-product .sidebar-inner .woocommerce-widget-layered-nav .woocommerce-widget-layered-nav-list li.woocommerce-widget-layered-nav-list__item--chosen.chosen .count {
  color: #ff0000; }
.post-type-archive-product .sidebar-inner .woocommerce-widget-layered-nav .woocommerce-widget-layered-nav-list li.woocommerce-widget-layered-nav-list__item--chosen.chosen a {
  color: #ff0000; }
.post-type-archive-product .sidebar-inner > .widget {
  margin-top: 0;
  padding: 25px 0 0 0;
  border-bottom: 1px solid #E6DEE0; }
  .post-type-archive-product .sidebar-inner > .widget .widget-title {
    position: relative;
    cursor: pointer;
    margin-bottom: 25px;
    z-index: 99999; }
    .post-type-archive-product .sidebar-inner > .widget .widget-title:hover {
      color: #ff0000; }
    .post-type-archive-product .sidebar-inner > .widget .widget-title::after {
      content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAYAAAB/9ZQ7AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADbSURBVHgBlZFNDoIwEIVbGlgSAxygC0LYeoO6c8kNvAKeQDmB3kC2nkK9gWt+IkvdEPcEcMbUhNQK8a1eZr6ZvraE/CGqFjjnM8uyDn3fV3mer4c9Q4VN0+QACrCx7/vxsMdUuK7ru+u6D7ARpXTpOM4FapUWlgNXz/MwooCByLbt4xNEyYiCIEgh0gps1TTN3BiDAdxLyxlj0RS8kzYtyzL9CcNLbCCvkBESrGkzh2HI27a9ye2LoijO6L8246d0XXd6b6I0+YBaGC4iYBvH47Ms25IpYQyUWn8B9i9UofSr1yMAAAAASUVORK5CYII=");
      transition: 0.3s;
      width: 11px;
      height: 13px;
      position: absolute;
      right: 0; }
  .post-type-archive-product .sidebar-inner > .widget .widget-body {
    display: none; }
  .post-type-archive-product .sidebar-inner > .widget form {
    display: none; }
  .post-type-archive-product .sidebar-inner > .widget .woocommerce-widget-layered-nav-list {
    display: none; }

.wrapper-product-resulter-shop .list-products .product .product-content-fade.border-info {
  margin-bottom: -49px; }
.wrapper-product-resulter-shop .pagination {
  justify-content: center;
  margin-top: 80px; }
  @media (max-width: 600px) {
    .wrapper-product-resulter-shop .pagination {
      margin-top: 50px; } }
  .wrapper-product-resulter-shop .pagination li {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; }

.products.product-custom-reponsive-ajax {
  display: none !important;
  height: 0 !important;
  overflow: hidden !important; }

/*# sourceMappingURL=shop.css.map */
