.wrapper-single-recipe {
    padding-top: 60px;
    .single-recipe-detail {
        padding-bottom: 90px;
        @media(max-width:1200px) {
            padding-bottom: 45px;
        }
      
        .single-recipe-content {
            display: grid;
            grid-template-columns: 65% 22%;
            column-gap: 13%;
            @media(max-width:1200px) {
                grid-template-columns: 55% 40%;
                column-gap: 5%;
            }
            @media(max-width:992px) {
                grid-template-columns: 1fr;
                row-gap:30px;
            }
            .single-recipe {
                .feature-post {
                    padding-bottom: 63px;
                    .thumb {
                        width: 100%;
                        border-radius: 0;
                        margin-bottom: 30px;
                    }
                    .date-cat {
                        color: #71778E;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        letter-spacing: 0.1px;
                        display: flex;
                        align-items: center;
                        column-gap: 23px;
                        margin-bottom: 10px;
                    }
                    .title {
                        color: #202435;
                        font-size: 35px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 124%;
                        margin-bottom: 35px;
                    }
                    .des-recipe {
                        padding: 40px 55px;
                        background: #F8F8F8;
                        position: relative;
                        @media(max-width:1200px) {
                            padding: 20px;
                        }
                        &:before {
                            content:'';
                            position: absolute;
                            left: 0;
                            top:0;
                            width: 5px;
                            height: 100%;
                            background: #233A95;
                        }
                        p {
                            color: #444;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 160%;
                            &:last-child {
                                margin-bottom: 0;

                            }
                        }
                    }
                }
                .ingredient-process-recipe {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 49px;
                    padding-bottom: 80px;
                    @media(max-width:1200px) {
                        grid-template-columns: 1fr;
                        grid-gap: 30px;
                        padding-bottom: 40px;
                    }
                    .process {
                        position: relative;
                        &:before {
                            content:'';
                            position: absolute;
                            top:0;
                            left: -25px;
                            width: 5px;
                            height: 100%;
                            background: #233A95;
                            @media(max-width:1200px) {
                                display: none;
                            }
                        }
                    }
                    .name-feauter {
                        color: #444;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 160%;
                        margin-bottom: 10px;
                    }
                    .content {
                        ul {
                            padding-left: 25px;
                        }
                    }
                    .content *{
                        color: #202435;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 169%;
                    }
                }
                .note-recipe {
                    padding: 32px 60px;
                    background: #F8F8F8;
                    @media(max-width:1200px) {
                        padding: 20px;
                    }
                    .name-feauter {
                        color: #444;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 160%;
                        margin-bottom: 10px;
                    }
                    .content {
                        ul {
                            padding-left: 25px;
                        }
                    }
                    .content *{
                        color: #202435;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 169%;
                    }
                }
            }
            .side-bar-recipe {
                .posts-interesting {
                    .header {
                        color: #202435;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%;
                        text-transform: uppercase;
                        margin-bottom: 21px;
                    }
                    .list-post {
                        padding: 24px;
                        border-radius: 7px;
                        border: 1px solid #EDEEF5;
                        margin-bottom: 35px;
                        counter-reset: section;
                        .item-post {
                            margin-bottom: 50px;
                            position: relative;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            &:before {
                                counter-increment: section;
                                content: counter(section);
                                width: 25px;
                                height: 25px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #FFF;
                                font-size: 11px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 16.5px;
                                letter-spacing: 0.1px;
                                background: #2BBEF9;
                                border-radius: 50%;
                                border: 1.5px solid #fff;
                                font-weight: bold;
                                position: absolute;
                                left: 45px;
                            }
                            a {
                                display: flex;
                                align-items: center;
                                column-gap: 15px;
                                text-decoration: none;
                                .thumb-p {
                                    width: 70px;
                                    height: 70px;
                                    border-radius: 50%;
                                    object-fit: cover;
                                }
                                .name {
                                    color: #202435;
                                    font-size: 15px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 131%;
                                }
                            }
                        }
                    }
                }
                .gallery-sidebar {
                    @media(max-width:992px) {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-gap:20px;
                    }
                    @media(max-width:768px) {
                        grid-template-columns: 1fr;
                        grid-gap:30px;
                    }
                    img {
                        width: 100%;
                        margin-bottom: 30px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .wrapper-related-bottom {
        padding-top: 50px;
        .recipe-video-post-detail {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 140px;
            column-gap: 38px;
            @media(max-width:1199px) {
                grid-template-columns: 1fr;  
                grid-gap:38px;
            }
            .title {
                display: flex;
                align-items: center;
                margin-bottom: 34px;
                svg {
                    margin-right: 24px;
                }
                h4 {
                    color: #252525;
                    font-family: "Barlow Condensed";
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 500;
                    margin-bottom: 0;
                    line-height: 1;
                }
            }
            .list-related {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 38px;
                @media(max-width:768px) {
                    grid-template-columns: 1fr;  
                }
                a {
                    text-decoration: none;
                }
                .item-recipe-video {
                    .box-feature {
                        .title {
                            color: #252525;
                            font-size: 30px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1.2;
                            margin-bottom: 16px;
                        }
                    }
                }
            }
            .related-item {
                .thumb {
                    img {
                        width: 100%;
                        object-fit: cover;
                        border-radius: 5px;
                        overflow: hidden;
                    }
                }
                .cats {
                    color: #BABABA;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 153%;
                    text-transform: uppercase;
                    margin-top: 16px;
                }
                h3 {
                    color: #252525;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.2;
                    margin-top: 16px;
                    margin-bottom: 16px;
                }
                .crt-date-comment {
                    span {
                        color: #BABABA;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 153%;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
.wrapper-related-product {
    padding-bottom: 85px;
    border-bottom: 1px solid #DDDFE3;
    h2.title {
        color: #252525;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        padding-bottom: 36px;
        margin-bottom: 0;
    }
}