.wrapper-ingredient {
  padding: 20px 0; }
  .wrapper-ingredient .title {
    color: #BAC0C4;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    letter-spacing: 0.28px;
    text-transform: uppercase; }
  .wrapper-ingredient .list-ingredient {
    display: flex;
    column-gap: 42px;
    flex-wrap: wrap; }
    @media (max-width: 600px) {
      .wrapper-ingredient .list-ingredient {
        column-gap: 30px; } }
    .wrapper-ingredient .list-ingredient .item-ingredient {
      text-decoration: none;
      width: 50px; }
      .wrapper-ingredient .list-ingredient .item-ingredient img {
        margin-bottom: 5px; }
      .wrapper-ingredient .list-ingredient .item-ingredient label {
        display: block;
        color: #252525;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.24px;
        text-transform: uppercase; }

.recently-viewed.wrapper-related-product .related-item {
  text-decoration: none; }
.recently-viewed.wrapper-related-product .content-related-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 140px;
  column-gap: 38px; }
  @media (max-width: 1199px) {
    .recently-viewed.wrapper-related-product .content-related-product {
      grid-template-columns: 1fr;
      grid-gap: 38px; } }
  .recently-viewed.wrapper-related-product .content-related-product .title {
    display: flex;
    align-items: center;
    margin-bottom: 34px; }
    .recently-viewed.wrapper-related-product .content-related-product .title svg {
      margin-right: 24px; }
    .recently-viewed.wrapper-related-product .content-related-product .title h4 {
      color: #252525;
      font-family: "Barlow Condensed";
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      margin-bottom: 0;
      line-height: 1; }
  .recently-viewed.wrapper-related-product .content-related-product .list-related {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 38px; }
    @media (max-width: 768px) {
      .recently-viewed.wrapper-related-product .content-related-product .list-related {
        grid-template-columns: 1fr; } }
    .recently-viewed.wrapper-related-product .content-related-product .list-related .item-recipe-video .box-feature .title {
      color: #252525;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 16px; }
  .recently-viewed.wrapper-related-product .content-related-product .related-item .thumb img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden; }
  .recently-viewed.wrapper-related-product .content-related-product .related-item .cats {
    color: #BABABA;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 153%;
    text-transform: uppercase;
    margin-top: 16px; }
  .recently-viewed.wrapper-related-product .content-related-product .related-item h3 {
    color: #252525;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 16px;
    margin-bottom: 16px; }
  .recently-viewed.wrapper-related-product .content-related-product .related-item .crt-date-comment span {
    color: #BABABA;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 153%;
    text-transform: uppercase; }

/*# sourceMappingURL=single-product.css.map */
