.wrapper-single-recipe {
  padding-top: 60px;
}
.wrapper-single-recipe .single-recipe-detail {
  padding-bottom: 90px;
}
@media (max-width: 1200px) {
  .wrapper-single-recipe .single-recipe-detail {
    padding-bottom: 45px;
  }
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content {
  display: grid;
  grid-template-columns: 65% 22%;
  column-gap: 13%;
}
@media (max-width: 1200px) {
  .wrapper-single-recipe .single-recipe-detail .single-recipe-content {
    grid-template-columns: 55% 40%;
    column-gap: 5%;
  }
}
@media (max-width: 992px) {
  .wrapper-single-recipe .single-recipe-detail .single-recipe-content {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .feature-post {
  padding-bottom: 63px;
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .feature-post .thumb {
  width: 100%;
  border-radius: 0;
  margin-bottom: 30px;
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .feature-post .date-cat {
  color: #71778e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 23px;
  row-gap: 10px;
  margin-bottom: 10px;
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .feature-post .date-cat .cats {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  column-gap: 4px;
  flex-wrap: wrap;
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .feature-post .date-cat .cats li a {
  color: #71778e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1px;
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .feature-post .title {
  color: #202435;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 124%;
  margin-bottom: 35px;
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .feature-post .des-recipe {
  padding: 40px 55px;
  background: #f8f8f8;
  position: relative;
}
@media (max-width: 1200px) {
  .wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .feature-post .des-recipe {
    padding: 20px;
  }
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .feature-post .des-recipe:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: #233a95;
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .feature-post .des-recipe p {
  color: #444;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.wrapper-single-recipe
  .single-recipe-detail
  .single-recipe-content
  .single-recipe
  .feature-post
  .des-recipe
  p:last-child {
  margin-bottom: 0;
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .ingredient-process-recipe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 49px;
  padding-bottom: 80px;
}
@media (max-width: 1200px) {
  .wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .ingredient-process-recipe {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding-bottom: 40px;
  }
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .ingredient-process-recipe .process {
  position: relative;
}
.wrapper-single-recipe
  .single-recipe-detail
  .single-recipe-content
  .single-recipe
  .ingredient-process-recipe
  .process:before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  width: 5px;
  height: 100%;
  background: #233a95;
}
@media (max-width: 1200px) {
  .wrapper-single-recipe
    .single-recipe-detail
    .single-recipe-content
    .single-recipe
    .ingredient-process-recipe
    .process:before {
    display: none;
  }
}
.wrapper-single-recipe
  .single-recipe-detail
  .single-recipe-content
  .single-recipe
  .ingredient-process-recipe
  .name-feauter {
  color: #444;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 10px;
}
.wrapper-single-recipe
  .single-recipe-detail
  .single-recipe-content
  .single-recipe
  .ingredient-process-recipe
  .content
  ul {
  padding-left: 25px;
}
.wrapper-single-recipe
  .single-recipe-detail
  .single-recipe-content
  .single-recipe
  .ingredient-process-recipe
  .content
  * {
  color: #202435;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 169%;
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .note-recipe {
  padding: 32px 60px;
  background: #f8f8f8;
}
@media (max-width: 1200px) {
  .wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .note-recipe {
    padding: 20px;
  }
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .note-recipe .name-feauter {
  color: #444;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 10px;
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .note-recipe .content ul {
  padding-left: 25px;
}
.wrapper-single-recipe .single-recipe-detail .single-recipe-content .single-recipe .note-recipe .content * {
  color: #202435;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 169%;
}
.wrapper-single-recipe .wrapper-related-bottom {
  padding-top: 50px;
}
.wrapper-single-recipe .wrapper-related-bottom .recipe-video-post-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 140px;
  column-gap: 38px;
}
@media (max-width: 1199px) {
  .wrapper-single-recipe .wrapper-related-bottom .recipe-video-post-detail {
    grid-template-columns: 1fr;
    grid-gap: 38px;
  }
}
.wrapper-single-recipe .wrapper-related-bottom .recipe-video-post-detail .title {
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}
.wrapper-single-recipe .wrapper-related-bottom .recipe-video-post-detail .title svg {
  margin-right: 24px;
}
.wrapper-single-recipe .wrapper-related-bottom .recipe-video-post-detail .title h4 {
  color: #252525;
  font-family: "Barlow Condensed";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1;
}
@media (max-width: 600px) {
  .wrapper-single-recipe .wrapper-related-bottom .recipe-video-post-detail .title h4 {
    font-size: 30px;
  }
}
.wrapper-single-recipe .wrapper-related-bottom .recipe-video-post-detail .list-related {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 38px;
}
@media (max-width: 768px) {
  .wrapper-single-recipe .wrapper-related-bottom .recipe-video-post-detail .list-related {
    grid-template-columns: 1fr;
  }
}
.wrapper-single-recipe .wrapper-related-bottom .recipe-video-post-detail .list-related a {
  text-decoration: none;
}
.wrapper-single-recipe
  .wrapper-related-bottom
  .recipe-video-post-detail
  .list-related
  .item-recipe-video
  .box-feature
  .title {
  color: #252525;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 16px;
}
.wrapper-single-recipe .wrapper-related-bottom .recipe-video-post-detail .related-item .thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
}
.wrapper-single-recipe .wrapper-related-bottom .recipe-video-post-detail .related-item .cats {
  color: #bababa;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 153%;
  text-transform: uppercase;
  margin-top: 16px;
}
.wrapper-single-recipe .wrapper-related-bottom .recipe-video-post-detail .related-item h3 {
  color: #252525;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 16px;
  margin-bottom: 16px;
}
.wrapper-single-recipe .wrapper-related-bottom .recipe-video-post-detail .related-item .crt-date-comment span {
  color: #bababa;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 153%;
  text-transform: uppercase;
}

.wrapper-related-product {
  padding-bottom: 85px;
  border-bottom: 1px solid #dddfe3;
}
.wrapper-related-product h2.title {
  color: #252525;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 36px;
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .wrapper-related-product h2.title {
    font-size: 30px;
    padding-bottom: 25px;
  }
}

@media (max-width: 992px) {
  .side-bar-recipe {
    display: none;
  }
}
.side-bar-recipe .posts-interesting .header {
  color: #202435;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.side-bar-recipe .posts-interesting .list-post {
  padding: 24px;
  border-radius: 7px;
  border: 1px solid #edeef5;
  margin-bottom: 35px;
  counter-reset: section;
}
.side-bar-recipe .posts-interesting .list-post .item-post {
  margin-bottom: 50px;
  position: relative;
}
.side-bar-recipe .posts-interesting .list-post .item-post:last-child {
  margin-bottom: 0;
}
.side-bar-recipe .posts-interesting .list-post .item-post:before {
  counter-increment: section;
  content: counter(section);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.5px;
  letter-spacing: 0.1px;
  background: #2bbef9;
  border-radius: 50%;
  border: 1.5px solid #fff;
  font-weight: bold;
  position: absolute;
  left: 45px;
}
.side-bar-recipe .posts-interesting .list-post .item-post a {
  display: flex;
  align-items: center;
  column-gap: 15px;
  text-decoration: none;
}
.side-bar-recipe .posts-interesting .list-post .item-post a .thumb-p {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.side-bar-recipe .posts-interesting .list-post .item-post a .name {
  color: #202435;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 131%;
  cursor: inherit;
}
@media (max-width: 992px) {
  .side-bar-recipe .gallery-sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
@media (max-width: 768px) {
  .side-bar-recipe .gallery-sidebar {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}
.side-bar-recipe .gallery-sidebar a {
  display: block;
  margin-bottom: 30px;
}
.side-bar-recipe .gallery-sidebar a:last-child {
  margin-bottom: 0;
}
.side-bar-recipe .gallery-sidebar img {
  width: 100%;
  margin-bottom: 30px;
}
.side-bar-recipe .gallery-sidebar img:last-child {
  margin-bottom: 0;
}

.wrapper-sidebar-mobile .side-bar-recipe {
  display: none;
  padding-top: 30px;
}
@media (max-width: 992px) {
  .wrapper-sidebar-mobile .side-bar-recipe {
    display: block;
  }
}

/*# sourceMappingURL=single-recipe.css.map */
